body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment:fixed;
}
ul{
    list-style-type: none;
    margin-top: 50px;
    margin-right: 60px;
    padding: 0;
    overflow:hidden;
   
}
li{
    float: right;
    }
a{
    font-size: larger;
    display: block;
    padding:  20px;
    color: aliceblue;
    text-decoration: none;   
}
.container {
    display: inline-block;
    font-size: 32px;
    color: antiquewhite;
    padding-left: 120px;
    padding-top: 85px;
}
.typed{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
    animation-delay: 4s;
    border-right: 2px solid olive;
}
.typing{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30,end);
    animation-fill-mode: forwards;
}
.type{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30,end);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.spaned{
    color:aquamarine;
    font-size: 53px;
}
@keyframes typing{
     from{width: 0;}
     to{width: 100%;}
}
@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: olive}
    100% {border-right-color: transparent}
  }
.imaged{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.divv{
padding-top:60px ;
padding-right:50px;
background-attachment: fixed;
background-size: contain;
float: right;
width: 800px;
height: 500px;
}
p{
    margin: 0;
}
.mail{
    padding-top:10px ;
    padding-bottom: 0;
    padding-right:50px;
    background-attachment: fixed;
    background-size: contain;
    float: right;
    width: 600px;
    height: 600px;

}
.contactme{
    padding-left: 100px;
    padding-top: 10;
}
.hear{
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.textfields{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid aquamarine;
    border-radius: 10px;
    width:35%;
    background-color:cadetblue;
    color:antiquewhite;
}
::placeholder{
    color: antiquewhite;
    font-size: larger;
}
.aboutme{
    padding-top: 40px;
    padding-left: 100px;
    color: antiquewhite;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 45%;
    margin: 10px;
}
.image{
    width:200px;
    height: 400px;
    display: flex;
   justify-content: flex-end;
  align-items: center;
}
.contain{
  padding-top:0px ;
  padding-right:50px;
  background-attachment: fixed;
  background-size: contain;
  float: right;
  width: 600px;
  height: 500px;
}
.inline{
    display: inline;
    padding-left: 50px;
}